 /*table{
    width:100%;
}

thead{
    display:none;
}

tr:nth-of-type(2n){
    background-color: inherit;
}
tr td:first-child{
    background: white;
    font-weight: bold;
    font-size:1.3e;
}
tbody td{
    display:block;
    text-align: center;
}

tbody td:before{
    content:attr(data-th);
    display: block;
    text-align: center;
}*/

th {
    background-color: rgb(5, 81, 158);
    color: white;
  }
table{
    width:100%;
}