<mat-toolbar color="primary">
  <span>Beta</span>
</mat-toolbar>

<table mdbTable>
  <thead class="black white-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col" colspan="6">{{head}} </th>
    </tr>
  </thead>
  <tbody colspan="6">
    <tr mdbTableCol *ngFor="let el of elements" colspan="6" >
      <th scope="row" colspan="2">{{el.id}}</th>
      <td colspan="6">{{el.first}}</td>
      <td colspan="6">{{el.last}}</td>
      <td colspan="6">{{el.handle}}</td>
    </tr>
  </tbody>
</table>