<div class="row">
  <div class="col">
    <table class="table table-hover">
      
        <tr>
          <th scope="col"># </th>
          <th scope="col" colspan="2"> Nombre </th>
          <th scope="col" colspan="2"> Apellido </th>
          <th scope="col" colspan="2"> asistencia </th>
        </tr>
      
      <tbody>
        <tr *ngFor="let persona of personas; index as i">
          <th scope="row">{{i+1}}</th>
          <td>tytytyyyt</td><!-- {{personas.id}} -->
          <td>hhhhhhhhhhhggggggggggj</td><!-- {{personas.nombre}}-->
          <td>uiuiuiu</td><!-- {{personas.apellido}}-->
          <td>yiui</td><!--{{personas.asistencia == 1 ? 'si' : 'no'}}-->
          <td>
            <button class="btn btn-primary">actualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>