<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Documento de Ingreso</title>
  
</head>
<body>
  <div style="text-align: center">
      <h1>Registro de Usurios Nuevos</h1>

      <form action="Envio.php" method="post" >
        <br>
          <label for="PrimerNombre" class="PrimerNombre" ></label>
          <input type="text" id="PrimerNombre" placeholder="Primer Nombre">
          <br>
        
          <label for="SegundoNombre" class="SegundoNombre" ></label>
          <input type="text" id="SegundoNombre" placeholder="Segundo Nombre">
          <br>
        
          <label for="PrimerApellido" class="PrimerApellido" ></label>
          <input type="text" id="PrimerApellido" placeholder="Primer Apellido">
          <br>
        
          <label for="SegundoApellido" class="SegundoApellido" ></label>
          <input type="text" id="SegundoApellido" placeholder="Segundo Apellido">
          <br>
        
          <label for="CI" class="CI" ></label>
          <input type="text" id="CI" placeholder="CI">
          <br>
        
          <label for="Pago" class="Pago" ></label>
          <input type="text" id="Pago" placeholder="Pago">
          <br> <br>
          <button type="submit" class="button button-block" >Guardar</button>
      </form>

  </div>
  
</body>
</html>
